<a href="https://colab.research.google.com/github/Ele2000/Chapter-6/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

person

In [2]:
person = {
    'first_name': 'Elene',
    'last_name': 'Kevlishvili',
    'age': 21,
    'city': 'Telavi',
}

first_name = person['first_name']
last_name = person['last_name']
age = person['age']
city = person['city']

print(first_name)
print(last_name)
print(age)
print(city)

Elene
Kevlishvili
21
Telavi

favorite_numbers

In [4]:
favorite_numbers = {
    'Jack': 2,
    'Josephine': 3,
    'Shrek': 7,
    'Erika': 8,
    'Dominik': 9,
}

for names in favorite_numbers.keys():
    print(names)

for numbers in favorite_numbers.values():
    print(numbers)

Jack
Josephine
Shrek
Erika
Dominik
2
3
7
8
9

glossary

In [10]:
glossary = {
    'python': 'the coding programe',
    'Python Strings': "Strings in python are surrounded by either single quotation marks, or double quotation marks.",
    'Python Dictionaries': "Dictionaries are used to store data values in key:value pairs.",
    'Python For Loops': "A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).",
    'pcc': 'the name of the book',
}

for words, meanings in glossary.items():
    print(words + ': ' + meanings)

python: the coding programe
Python Strings: Strings in python are surrounded by either single quotation marks, or double quotation marks.
Python Dictionaries: Dictionaries are used to store data values in key:value pairs.
Python For Loops: A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).
pcc: the name of the book

rivers

In [11]:
rivers = {
    'Mtkvari': 'Georgia',
    'Amazon': 'Brazil',
    'Misisipi': 'Canada',
}

for river, country in rivers.items():
  print('The ' + river + ' runs throught ' + country)
  print(river)
  print(country)

The Mtkvari runs throught Georgia
Mtkvari
Georgia
The Amazon runs throught Brazil
Amazon
Brazil
The Misisipi runs throught Canada
Misisipi
Canada

polling

In [17]:
favorite_languages = {
    'English': 'German',
    'Python': 'French',
    'Japan': 'Chines',
    'Portugal': 'python',
}

for name in favorite_languages.keys():
  print(name.title())

new_people = {
    'Sara': 'java',
    'jen': 'python',
    'Mike': 'c',
    'mary': 'java',
    'edward': 'ruby'
}

for name in favorite_languages.keys():
  print(name.title() + ', thank you for taking the poll.' )

for new_person in new_people:
    if new_person in favorite_languages:
        print(new_person + ', thank you for responding.')
    else:
        print(new_person + ', we invite you to take poll.')

English
Python
Japan
Portugal
English, thank you for taking the poll.
Python, thank you for taking the poll.
Japan, thank you for taking the poll.
Portugal, thank you for taking the poll.
Sara, we invite you to take poll.
jen, we invite you to take poll.
Mike, we invite you to take poll.
mary, we invite you to take poll.
edward, we invite you to take poll.

Pets

In [20]:
pets = {
    'Tedy': {
        'animal': 'cat',
        'owner': 'Tamuna',
    },
    'Max': {
        'animal': "dog",
        'owner': 'Salome'
    },
}

print(pets)

{'Tedy': {'animal': 'cat', 'owner': 'Tamuna'}, 'Max': {'animal': 'dog', 'owner': 'Salome'}}

Favorite_places

In [22]:
favorite_places = {
    'Edward': ['Moscow', 'Berlin'],
    'Bella': ['New York', 'Paris', 'with Edward'],
    'Sally': ['with Bella'],
}
for name, places in favorite_places.items():
  print(name + ': ')
  for place in places:
    print('- ' + place)

Edward:
- Moscow
- Berlin
Bella:
- New York
- Paris
- with Edward
Sally:
- with Bella

cities

In [24]:
cities = {
    'Tbilisi': {
        'country': 'Georgia',
        'population': '1,1 million',
        'fact': 'fact 1',
    },
    'Paris': {
        'country': 'France',
        'population': '2,1 million',
        'fact': 'fact 2',
    },
    'Moscow': {
        'country': 'Russia',
        'population': '11,9 million',
        'fact': 'fact 3',
    },
}

print(cities)

{'Tbilisi': {'country': 'Georgia', 'population': '1,1 million', 'fact': 'fact 1'}, 'Paris': {'country': 'France', 'population': '2,1 million', 'fact': 'fact 2'}, 'Moscow': {'country': 'Russia', 'population': '11,9 million', 'fact': 'fact 3'}}